#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --bg-primary: hsl(252, 100%, 67%);
  --bg-secondary: hsl(241, 81%, 54%);

  --circle-primary: hsla(256, 72%, 46%, 1);
  --circle-seconday: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-blue: hsl(221, 100%, 96%);
  --neutral-lavender: hsl(241, 100%, 89%);
  --neutral-dark-blue: hsl(224, 30%, 27%);

  --font-size: 18px;
}

main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  padding: 2rem 4rem;
  background-color: var(--bg-secondary);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 15px;
  flex: 1;
}
.result .heading {
  color: var(--neutral-lavender);
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--cobalt-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle-number {
  color: var(--neutral-white);
  font-size: 3rem;
}
.circle p {
  color: var(--neutral-lavender);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appreciation {
  color: var(--neutral-white);
  font-size: 1.5rem;
}
.footer p {
  color: var(--neutral-lavender);
  width: 240px;
}
/* 
/*********** Summary goes here **** / 
*/

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 1px 2px 5px var(--neutral-lavender);
  max-height: 100%;
  padding: 2rem;
  flex: 1;
}
.summary .heading {
  color: var(--neutral-dark-blue);
}
.datas {
  display: flex;
  flex-direction: column;
}
.data {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 2rem;
}
.Reaction {
  background-color: hsla(0, 100%, 67%, 0.2);
}
.Reaction .catagory {
  color: hsla(0, 100%, 67%, 0.7);
}
.Memory {
  background-color: hsla(0, 100%, 67%, 0.2);
}

.Memory .catagory {
  color: hsla(39, 100%, 56%, 0.7);
}

.Verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.Verbal .catagory {
  color: hsla(166, 100%, 37%, 0.8);
}
.Visual {
  background-color: hsla(241, 81%, 54%, 0.2);
}
.Visual .catagory {
  color: hsla(241, 81%, 54%, 0.8);
}

.score {
  color: var(--neutral-dark-blue);
}
.score span {
  color: var(--neutral-blue);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: o;
  padding: 0.7rem 0;
  border-radius: 15px;
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-white);
  transition: 0.5s ease-out;
}

.btn:hover {
  cursor: pointer;
  background-color: hsla(241, 81%, 54%, 0.8);
  scale: 1.01;
}

@media screen and (max-width : 375px) {
  main{
    flex-direction: column;
  }
  .summary{
    flex-basis: 100%;
  }
  .summary{
    flex-basis: 100%;
  }
}